*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}


/* ------------------
    header style
    ----------------- */

header{
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size: 37.5%;
    background-position: top right;

    padding-top: 2.5rem;
    padding-left: .5rem;
}

header .logo{
    width: 20%;
    min-width: 125px;
}


/* ------------------
    main style
    ----------------- */

