*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}


/* ------------------
    header style
    ----------------- */

header{
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size: 37.5%;
    background-position: top right;

    padding-top: 2.5rem;
    padding-left: .5rem;
}

header .logo{
    width: 20%;
    min-width: 125px;
}


/* ------------------
    main style
    ----------------- */
main{
     padding: 0 .5rem;
}

/* --------- article title style --------- */
.article_title{
    padding-bottom: 1rem;
}

.article_title h1{
    margin-bottom: 0;
    margin-top: 1rem;
    font-size: 2.5rem;
    letter-spacing: -1px;
}

.article_title .author,
.article_title .date{
    color: grey;
}

.author em{
    color:  rgb(91, 192, 255);
    font-style: normal;
}

/* --------- article images style --------- */
.article_images{
    width: fit-content;
    margin: 0 auto;
    padding-bottom: .5rem;
}

.article_images .images_info{
    font-size: .75rem;
}

/* --------- article paragraph style --------- */
.article_paragraph span{
    background-color: yellow;
}

/* --------- article list style --------- */
.article_list ul{
    padding: 1rem;
}

/* --------- article table style --------- */
.article_table thead{
    background-color: #20A9E5;
    color: white;
}

.article_table thead th{
    text-align: left;
}

.article_table .first_column,
.article_table .second_column{
    width: 25%;
}

.article_table *{
    border-collapse: collapse;
}

.article_table tbody tr:nth-child(odd){
    background-color:  #B1E5F2;
}